<!DOCTYPE html>
<html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>
        
        <!-- Vendor CSS -->
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{{ base_url() }}/assets/admin/css/app.min.1.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/css/app.min.2.css" rel="stylesheet">
    </head>
    
    <body class="login-content">
        <!-- Login -->

        <form action="{{ path_for('auth.signin') }}" method="post" class="lc-block toggled" id="l-login">
            <div class="card-body card-padding">
               {% include 'templates/partials/flash.twig'  %}           
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line {{ errors.name ? 'has-error' : '' }}">
                    <input type="text" name="name" class="form-control" placeholder="Username" value="{{  old.name }}">
                    {% if errors.name %}
                        <span class="help-block">{{ errors.name | first }}</span>
                    {% endif %}
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon "><i class="zmdi zmdi-lock"></i></span>
                <div class="fg-line {{ errors.password ? 'has-error' : '' }}">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    {% if errors.password %}
                        <span class="help-block">{{ errors.password | first }}</span>
                    {% endif %}
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>

            {{ csrf.field | raw }}
            
        </form>
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
        
        <!-- Javascript Libraries -->
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/Waves/dist/waves.min.js"></script>
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{{ base_url() }}/assets/admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        <script src="{{ base_url() }}/assets/admin/js/functions.js"></script>
        
    </body>
</html>