<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>

        <!-- Vendor CSS -->
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">   
        <link href="{{ base_url() }}/assets/admin/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">    

        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> 

        <link href="{{ base_url() }}/assets/admin/vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">

        <link href="{{ base_url() }}/assets/admin/vendors/summernote/dist/summernote.css" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{{ base_url() }}/assets/admin/css/app.min.1.css" rel="stylesheet">
        <link href="{{ base_url() }}/assets/admin/css/app.min.2.css" rel="stylesheet">

        {# Uploadcare #}
        <script>
            UPLOADCARE_LOCALE = "en";
            UPLOADCARE_TABS = "file facebook gdrive dropbox instagram skydrive";
            UPLOADCARE_PUBLIC_KEY = "8319384567bde618e857";
        </script>
        <script charset="utf-8" src="//ucarecdn.com/widget/2.8.2/uploadcare/uploadcare.full.min.js"></script>

        
    </head>
    <body>
        
        
        {% include 'templates/partials/header.twig' %}

        <section id="main" data-layout="layout-1">
            {% include 'templates/partials/menu.twig' %}
            <div class="container">
                {% include 'templates/partials/flash.twig'  %}
            </div>
            {% block content %}{% endblock %}
        </section>
        
        <footer id="footer">
            Copyright &copy; King Bosman
            
            <ul class="f-menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reports</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </footer>
        
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="{{ base_url() }}/assets/admin/img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>   
        <![endif]-->
        
        <!-- Javascript Libraries -->
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/sparklines/jquery.sparkline.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/summernote/dist/summernote-updated.min.js"></script>

        <script src="{{ base_url() }}/assets/admin/vendors/bower_components/chosen/chosen.jquery.min.js"></script>
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="{{ base_url() }}/assets/admin/vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        <script src="{{ base_url() }}/assets/admin/js/flot-charts/curved-line-chart.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/flot-charts/line-chart.js"></script>        
        <script src="{{ base_url() }}/assets/admin/js/charts.js"></script>
        <script src="{{ base_url() }}/assets/admin/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

        <script src="{{ base_url() }}/assets/admin/js/functions.js"></script>

        <script src="{{ base_url() }}/assets/admin/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>

        <!-- Data Table -->
        <script type="text/javascript">
            $(document).ready(function(){
                //Basic Example
                $("#data-table-basic").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                });
                
                //Selection
                $("#data-table-selection").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    keepSelection: true
                });
                
                //Command Buttons
                $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<a href=\"/admin/blog/article/" + row.id + "\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></a> ";
                        }
                    }
                });

                $("#slide-data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<a href=\"/admin/content/slide/" + row.id + "\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></a> ";
                        }
                    }
                });

                $("#testimonial-data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<a href=\"/admin/content/testimonial/" + row.id + "\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></a> ";
                        }
                    }
                });
            });
        </script>
    </body>
</html>